/* ------------------------- Google Font ------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


body {
    font-family: 'Roboto', sans-serif;
}



/* -------------------- Header Section Start --------------------- */
.banner {
    background-color: #161616;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-radius: 15px;
    margin: 42px 112px 118px 112px;
}

.banner-info {
    color: #FFFFFF;
    margin: 9% 5% 5% 15%;
    padding-right: 5%;
}

.banner-info h1 {
    font-size: 4em;
    margin-bottom: -1%;
}

.banner-info p {
    margin-bottom: 2em;
}

.banner-info a {
    text-decoration: none;
    background-color: #DD0000;
    color: #FFFFFF;
    padding: 12px 23px;
    border-radius: 3px;
}

.fa-chevron-right {
    font-size: smaller;
    margin-left: 10px;
}

.banner-img img {
    margin-top: 5%;
    margin-left: 5%;
    width: 85%;
}

/* -------------------- Header Section End ----------------------- */


/* -------------------- Main Section Start ----------------------- */
.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 112px;
}

.menu {
    background-color: #161616;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin: 12px 4px 0 0;
    height: 230px;
    justify-content: space-evenly;
    align-items: center;
}

.menu a {
    text-decoration: none;
    padding: 12px 0 12px 0;
    text-align: center;
    width: 140px;
    border-radius: 5px;
}

.match {
    background-color: #DD0000;
    color: #FFFFFF;
    border: 1px solid #DD0000;
}

.group {
    background-color: #FFFFFF;
    color: #161616;
    border: 1px solid #FFFFFF;
}

.blog-page {
    background-color: #FFFFFF;
    color: #161616;
    border: 1px solid #FFFFFF;
}

.blogs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.blog {
    margin: 12px 4px 12px 12px;
    border: 1px solid #E8E8E8;
    border-radius: 10px;
}

.blog-info {
    margin: 16px 0 50px 20px;
    text-align: center;
}

.flag {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 310px;
    height: 160px;
    margin-bottom: -50px;
}

.flag h3 {
    margin: 0 -50px 0 -50px;
}

/* ---------------------- Main Section End --------------------------- */


/* ---------------------- Footer Section Start ----------------------- */
.footer {
    background-color: #161616;
    margin: 96px -8px -8px -8px;
}

.footer h1 {
    font-size: 40px;
    text-align: center;
    color: #FFFFFF;
    padding-top: 96px;
    margin-bottom: 50px;
}

.footer hr {
    border: 1px solid rgba(255, 255, 255, 0.1);
    width: 72em;
}

.sitemap {
    text-align: center;
    margin-top: 50px;

}

.sitemap a {
    color: #B9B9B9;
    text-decoration: none;
    padding-right: 50px;
}

.social {
    text-align: center;
    margin-top: 50px;
    padding-bottom: 50px;
}

.social a {
    color: #FFFFFF;
    font-size: 25px;
}

.fa-facebook {
    padding-right: 50px;
}

.fa-instagram {
    padding-right: 50px;
}

/* -------------------- Footer Section End ----------------------- */


/* ---------------- Media Query for Mobile Start ----------------- */
@media only screen and (max-width: 667px) {
    .container {
        width: 100%;
    }

    .blogs {
        grid-template-columns: repeat(1, 1fr);
    }

    .blog {
        flex-direction: column;
    }
}

/* ---------------- Media Query for Mobile End ------------------- */

/* ---------------- Media Query for Tablet Start ----------------- */
@media only screen and (max-width: 991px) {
    .container {
        width: 100%;
    }

    .menu {
        display: flex;
        flex-direction: row;
    }

    .blogs {
        grid-template-columns: repeat(2, 1fre);
    }
}

/* ---------------- Media Query for Tablet End ------------------- */