/* --------------------- Google Font --------------------- */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


body {
    font-family: 'Roboto', sans-serif;
}

/* ---------------- Header Section Start ----------------- */
.banner {
    background-color: #161616;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-radius: 15px;
    margin: 3% 8% 1% 8%;
}

.banner-info {
    color: #FFFFFF;
    margin: 9% 5% 5% 15%;
    padding-right: 5%;

}

.banner-info h1 {
    font-size: 4em;
    margin-bottom: -1%;
}

.banner-info p {
    margin-bottom: 2em;
}

.banner-info a {
    text-decoration: none;
    background-color: #DD0000;
    color: #FFFFFF;
    padding: 12px 23px;
    border-radius: 3px;
}

.fa-chevron-right {
    font-size: smaller;
    margin-left: 10px;
}

.banner-img img {
    margin-top: 5%;
    margin-left: 5%;
    width: 85%;
}

/* ---------------- Header Section End ------------------- */


/* ---------------- Main Section Start ------------------- */
.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.menu {
    background-color: #161616;
    width: 312px;
    height: 312px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.menu a {
    text-decoration: none;
    padding: ;
    height: 64px;
    width: 252px;
}

.match {
    background-color: #FFFFFF;
    color: #161616;
}

.group {
    background-color: #FFFFFF;
    color: #161616;
}

.blog-page {
    background-color: #DD0000;
    color: #FFFFFF;
}

.blogs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

/* ---------------- Main Section End --------------------- */

/* ---------------- Footer Section Start ----------------- */


/* ---------------- Footer Section End ------------------- */